In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Read in the data set

In [2]:
olympics = pd.read_csv('athlete_events.csv')
olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
olympics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [4]:
olympics.isnull().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [5]:
olympics['Medal'].fillna('DNW', inplace = True)  # DNW = Did Not Win
#olympics['Medal_code'].fillna(0, inplace = True) # 0 = No medal (Gold = 1, Silver = 2, Bronze = 3)

In [6]:
olympics.isnull().sum()

ID            0
Name          0
Sex           0
Age        9474
Height    60171
Weight    62875
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal         0
dtype: int64

In [7]:
olympics.loc[:, ['NOC', 'Team']].drop_duplicates()['NOC'].value_counts().head()
 ## NOC - National Olympic Committee

NOC
FRA    160
USA     97
GBR     96
SWE     52
NOR     46
Name: count, dtype: int64

## NOC_country table

In [8]:
noc_country = pd.read_csv('noc_regions.csv')
noc_country.drop('notes', axis = 1 , inplace = True)
noc_country.rename(columns = {'region':'Country'}, inplace = True)

noc_country.head()

   NOC      Country
0  AFG  Afghanistan
1  AHO      Curacao
2  ALB      Albania
3  ALG      Algeria
4  AND      Andorra

## Merging both table

In [9]:
olympics_merge = olympics.merge(noc_country,
                                left_on = 'NOC',
                                right_on = 'NOC',
                                how = 'left')

olympics_merge

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Country
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,DNW,China
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,DNW,China
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,DNW,Denmark
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,DNW,Netherlands
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,DNW,Poland
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",DNW,Poland
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",DNW,Poland
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,DNW,Poland
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,DNW,Poland

In [10]:
# Do we have NOCs that didnt have a matching country in the master?
olympics_merge.loc[olympics_merge['Country'].isnull(),['NOC', 'Team']].drop_duplicates()

        NOC                      Team
578     SGP                 Singapore
6267    ROT  Refugee Olympic Athletes
44376   SGP              June Climene
61080   UNK                   Unknown
64674   TUV                    Tuvalu
80986   SGP                   Rika II
108582  SGP               Singapore-2
235895  SGP               Singapore-1

In [11]:
# Replace missing Teams by the values above.
#olympics_merge.loc[olympics_merge['Country'].isnull(), ['Country']] = olympics_merge['Team']

olympics_merge['Country'] = np.where(olympics_merge['NOC']=='SGP', 'Singapore', olympics_merge['Country'])
olympics_merge['Country'] = np.where(olympics_merge['NOC']=='ROT', 'Refugee Olympic Athletes', olympics_merge['Country'])
olympics_merge['Country'] = np.where(olympics_merge['NOC']=='EOR', 'Refugee Olympic Athletes', olympics_merge['Country']) # Present in 2020 Tokyo Olympics
olympics_merge['Country'] = np.where(olympics_merge['NOC']=='ROC', 'Russia', olympics_merge['Country']) # ROC = Russia Olympic Committee
olympics_merge['Country'] = np.where(olympics_merge['NOC']=='UNK', 'Unknown', olympics_merge['Country'])
olympics_merge['Country'] = np.where(olympics_merge['NOC']=='TUV', 'Tuvalu', olympics_merge['Country'])
olympics_merge['Country'] = np.where(olympics_merge['NOC']=='LBN', 'Lebanon', olympics_merge['Country'])

# Put these values from Country into Team
olympics_merge.drop('Team', axis = 1, inplace = True)
olympics_merge.rename(columns = {'Country': 'Team'}, inplace = True)

olympics_merge

,ID,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,City,Sport,Event,Medal,Team
0,1,A Dijiang,M,24.0,180.0,80.0,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,DNW,China
1,2,A Lamusi,M,23.0,170.0,60.0,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,DNW,China
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,DNW,Denmark
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,DNW,Netherlands
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,DNW,Poland
271112,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",DNW,Poland
271113,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",DNW,Poland
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,DNW,Poland
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,DNW,Poland

In [12]:
olympics_merge.isnull().sum()

ID            0
Name          0
Sex           0
Age        9474
Height    60171
Weight    62875
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal         0
Team          0
dtype: int64

# Merge GDP Data

In [13]:
# Glance at the data.
w_gdp = pd.read_csv('API_NY.GDP.csv')

# Remove unnecessary columns
w_gdp.drop(['Indicator Name', 'Indicator Code'], axis = 1, inplace = True)

# The columns are the years for which the GDP has been recorded. This needs to brought into a single column for efficient
# merging.
w_gdp = pd.melt(w_gdp, id_vars = ['Country Name', 'Country Code'], var_name = 'Year', value_name = 'GDP')

# convert the year column to numeric
w_gdp['Year'] = pd.to_numeric(w_gdp['Year'])

w_gdp

                      Country Name Country Code  Year           GDP
0                            Aruba          ABW  1960           NaN
1      Africa Eastern and Southern          AFE  1960  1.847810e+10
2                      Afghanistan          AFG  1960  5.377778e+08
3       Africa Western and Central          AFW  1960  1.041165e+10
4                           Angola          AGO  1960           NaN
...                            ...          ...   ...           ...
16753                       Kosovo          XKX  2022  9.409474e+09
16754                  Yemen, Rep.          YEM  2022           NaN
16755                 South Africa          ZAF  2022  4.052709e+11
16756                       Zambia          ZMB  2022  2.916378e+10
16757                     Zimbabwe          ZWE  2022  2.736663e+10

[16758 rows x 4 columns]

## check if NOCs in the olympics data match with those in the Country Code.

In [14]:
len(list(set(olympics_merge['NOC'].unique()) - set(w_gdp['Country Code'].unique())))

108

In [15]:
len(list(set(olympics_merge['Team'].unique()) - set(w_gdp['Country Name'].unique())))

40

## Merge to get country code

In [16]:

olympics_merge_ccode = olympics_merge.merge(w_gdp[['Country Name', 'Country Code']].drop_duplicates(),
                                            left_on = 'Team',
                                            right_on = 'Country Name',
                                            how = 'left')

#olympics_merge_ccode.drop('Country Name', axis = 1, inplace = True)
olympics_merge_copy = olympics_merge_ccode.copy()

olympics_merge_ccode

,ID,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,City,Sport,Event,Medal,Team,Country Name,Country Code
0,1,A Dijiang,M,24.0,180.0,80.0,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,DNW,China,China,CHN
1,2,A Lamusi,M,23.0,170.0,60.0,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,DNW,China,China,CHN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,DNW,Denmark,Denmark,DNK
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,Denmark,DNK
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,DNW,Netherlands,Netherlands,NLD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,DNW,Poland,Poland,POL
271112,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",DNW,Poland,Poland,POL
271113,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",DNW,Poland,Poland,POL
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,DNW,Poland,Poland,POL
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,DNW,Poland,Poland,POL

In [17]:
# Now, let's check how many teams Country Codes from the GDP don't match the NOC codes
print('Teams with missing Country Codes: ', len(olympics_merge_ccode.loc[olympics_merge_ccode['Country Code'].isnull(),['NOC', 'Team']].drop_duplicates()))

olympics_merge_ccode.loc[olympics_merge_ccode['Country Code'].isnull(),['NOC', 'Team', 'Country Code']].drop_duplicates()

Teams with missing Country Codes:  49

       NOC                              Team Country Code
10     USA                               USA          NaN
146    EGY                             Egypt          NaN
147    IRI                              Iran          NaN
163    RUS                            Russia          NaN
180    TUR                            Turkey          NaN
192    URS                            Russia          NaN
238    UAR                             Syria          NaN
473    PLE                         Palestine          NaN
493    BRU                            Brunei          NaN
510    SYR                             Syria          NaN
537    YAR                             Yemen          NaN
611    KGZ                        Kyrgyzstan          NaN
620    EUN                            Russia          NaN
653    CGO                 Republic of Congo          NaN
734    ISV                Virgin Islands, US          NaN
753    CIV                       Ivory Coast          NaN
785    GBR                                UK          NaN
1019   VEN                         Venezuela          NaN
1351   TCH                    Czech Republic          NaN
1404   CZE                    Czech Republic          NaN
1442   SKN                       Saint Kitts          NaN
1464   TTO                          Trinidad          NaN
1478   VIN                     Saint Vincent          NaN
2518   YMD                             Yemen          NaN
2520   KOR                       South Korea          NaN
3163   YEM                             Yemen          NaN
3165   IOA       Individual Olympic Athletes          NaN
4165   BAH                           Bahamas          NaN
4499   IVB           Virgin Islands, British          NaN
4941   SVK                          Slovakia          NaN
5945   COD  Democratic Republic of the Congo          NaN
6198   LAO                              Laos          NaN
6267   ROT          Refugee Olympic Athletes          NaN
6380   PRK                       North Korea          NaN
7218   CPV                        Cape Verde          NaN
8143   BOL                            Boliva          NaN
8629   ANT                           Antigua          NaN
10890  LCA                       Saint Lucia          NaN
10918  FSM                        Micronesia          NaN
12572  TPE                            Taiwan          NaN
13082  MKD                         Macedonia          NaN
13329  BOH                    Czech Republic          NaN
15721  GAM                            Gambia          NaN
17436  COK                      Cook Islands          NaN
19230  WIF                          Trinidad          NaN
21229  SWZ                         Swaziland          NaN
31643  VNM                           Vietnam          NaN
34919  VIE                           Vietnam          NaN
61080  UNK                           Unknown          NaN

In [18]:
# Now, let's check how many teams Country Codes from the GDP don't match the NOC codes
print('Teams with missing Country Codes: ', len(olympics_merge_ccode.loc[olympics_merge_ccode['Country Code'].isnull(),['NOC', 'Team']].drop_duplicates()))

olympics_merge_ccode.loc[olympics_merge_ccode['Country Code'].isnull(),['NOC', 'Team', 'Country Code']].drop_duplicates()

Teams with missing Country Codes:  49

       NOC                              Team Country Code
10     USA                               USA          NaN
146    EGY                             Egypt          NaN
147    IRI                              Iran          NaN
163    RUS                            Russia          NaN
180    TUR                            Turkey          NaN
192    URS                            Russia          NaN
238    UAR                             Syria          NaN
473    PLE                         Palestine          NaN
493    BRU                            Brunei          NaN
510    SYR                             Syria          NaN
537    YAR                             Yemen          NaN
611    KGZ                        Kyrgyzstan          NaN
620    EUN                            Russia          NaN
653    CGO                 Republic of Congo          NaN
734    ISV                Virgin Islands, US          NaN
753    CIV                       Ivory Coast          NaN
785    GBR                                UK          NaN
1019   VEN                         Venezuela          NaN
1351   TCH                    Czech Republic          NaN
1404   CZE                    Czech Republic          NaN
1442   SKN                       Saint Kitts          NaN
1464   TTO                          Trinidad          NaN
1478   VIN                     Saint Vincent          NaN
2518   YMD                             Yemen          NaN
2520   KOR                       South Korea          NaN
3163   YEM                             Yemen          NaN
3165   IOA       Individual Olympic Athletes          NaN
4165   BAH                           Bahamas          NaN
4499   IVB           Virgin Islands, British          NaN
4941   SVK                          Slovakia          NaN
5945   COD  Democratic Republic of the Congo          NaN
6198   LAO                              Laos          NaN
6267   ROT          Refugee Olympic Athletes          NaN
6380   PRK                       North Korea          NaN
7218   CPV                        Cape Verde          NaN
8143   BOL                            Boliva          NaN
8629   ANT                           Antigua          NaN
10890  LCA                       Saint Lucia          NaN
10918  FSM                        Micronesia          NaN
12572  TPE                            Taiwan          NaN
13082  MKD                         Macedonia          NaN
13329  BOH                    Czech Republic          NaN
15721  GAM                            Gambia          NaN
17436  COK                      Cook Islands          NaN
19230  WIF                          Trinidad          NaN
21229  SWZ                         Swaziland          NaN
31643  VNM                           Vietnam          NaN
34919  VIE                           Vietnam          NaN
61080  UNK                           Unknown          NaN

In [19]:
# For all 45 missing Country Codes, let's replace that with the NOC code
olympics_merge_ccode['Country Code'].fillna(olympics_merge_ccode['NOC'], inplace = True)

# Next, let's perform individual fixes as we need to. Since we will merge GDP, Population, and Freedom Index scores to Country Code, those need to be correct.
# First, all the duplicates
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='ROC', 'RUS', olympics_merge_ccode['Country Code']) # Russia
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='EUN', 'RUS', olympics_merge_ccode['Country Code']) # Russia
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='URS', 'RUS', olympics_merge_ccode['Country Code']) # Russia

olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='YAR', 'YEM', olympics_merge_ccode['Country Code']) # Yemen
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='YMD', 'YEM', olympics_merge_ccode['Country Code']) # Yemen
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='UAR', 'SYR', olympics_merge_ccode['Country Code']) # Syria
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='WIF', 'TTO', olympics_merge_ccode['Country Code']) # Trinidad

# Second, all the individual fixes
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='IRI', 'IRN', olympics_merge_ccode['Country Code']) # Iran
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='BRU', 'BRN', olympics_merge_ccode['Country Code']) # Brunei
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='CGO', 'COG', olympics_merge_ccode['Country Code']) # Congo
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='ISV', 'VIR', olympics_merge_ccode['Country Code']) # US Virgin Islands
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='IVB', 'VGB', olympics_merge_ccode['Country Code']) # British Virgin Islands
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='SKN', 'KNA', olympics_merge_ccode['Country Code']) # St. Kitts
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='VIN', 'VCT', olympics_merge_ccode['Country Code']) # St. Vincent
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='BAH', 'BHS', olympics_merge_ccode['Country Code']) # Bahamas
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='ANT', 'ATG', olympics_merge_ccode['Country Code']) # Antigua
olympics_merge_ccode['Country Code'] = np.where(olympics_merge_ccode['NOC']=='GAM', 'GMB', olympics_merge_ccode['Country Code']) # Gambia

# And let's double-check that
print('Teams with missing Country Codes: ', len(olympics_merge_ccode.loc[olympics_merge_ccode['Country Code'].isnull(),['NOC', 'Team']].drop_duplicates()))

olympics_merge_ccode

Teams with missing Country Codes:  0

,ID,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,City,Sport,Event,Medal,Team,Country Name,Country Code
0,1,A Dijiang,M,24.0,180.0,80.0,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,DNW,China,China,CHN
1,2,A Lamusi,M,23.0,170.0,60.0,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,DNW,China,China,CHN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,DNW,Denmark,Denmark,DNK
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,Denmark,DNK
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,DNW,Netherlands,Netherlands,NLD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,DNW,Poland,Poland,POL
271112,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",DNW,Poland,Poland,POL
271113,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",DNW,Poland,Poland,POL
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,DNW,Poland,Poland,POL
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,DNW,Poland,Poland,POL

In [20]:
def replace_codes(df, v1, v2):
    '''This function takes a Dataframe (df) that needs needs values replaced,
    a vector of values to search for (v1), and a vector of values to replace them 
    with (v2). These two vectors should be of the same length with indexes from v1 
    matching indexes from v2.
    '''
    
    # First, replace all Country Codes that are missing with the NOC code
    # df['Country Code'].fillna(df['NOC'], inplace = True)
    
    # Second, copy over ALL NOC codes to Country Codes in one fell swoop
    df['Country Code'] = df['NOC']
    
    # Next, loop through our vectors for individual fixes
    for i in range(len(v1)):
        df['Country Code'] = np.where(df['NOC'] == v1[i], v2[i], df['Country Code'])
        
    # Finally, double-check that
    print('Teams with missing Country Codes: ', len(df.loc[df['Country Code'].isnull(),['NOC', 'Team']].drop_duplicates()))

In [21]:
# Test that our function works properly on a copy of the Olympics merge data.
wrong_codes = ['ROC','EUN','URS','YAR','YMD','UAR','WIF','IRI','BRU','CGO','ISV','IVB','SKN','VIN','BAH','ANT','GAM']
right_codes = ['RUS','RUS','RUS','YEM','YEM','SYR','TTO','IRN','BRN','COG','VIR','VGB','KNA','VCT','BHS','ATG','GMB']

replace_codes(olympics_merge_copy, wrong_codes, right_codes)

olympics_merge_copy

Teams with missing Country Codes:  0

,ID,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,City,Sport,Event,Medal,Team,Country Name,Country Code
0,1,A Dijiang,M,24.0,180.0,80.0,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,DNW,China,China,CHN
1,2,A Lamusi,M,23.0,170.0,60.0,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,DNW,China,China,CHN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,DNW,Denmark,Denmark,DEN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,Denmark,DEN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,DNW,Netherlands,Netherlands,NED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,DNW,Poland,Poland,POL
271112,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",DNW,Poland,Poland,POL
271113,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",DNW,Poland,Poland,POL
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,DNW,Poland,Poland,POL
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,DNW,Poland,Poland,POL

In [22]:
# Merge to get gdp too
olympics_merge_gdp = olympics_merge_ccode.merge(w_gdp,
                                                left_on = ['Country Code', 'Year'],
                                                right_on = ['Country Code', 'Year'],
                                                how = 'left')

olympics_merge_gdp.drop(['Country Name_x','Country Name_y'], axis = 1, inplace = True)

olympics_merge_gdp

,ID,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,City,Sport,Event,Medal,Team,Country Code,GDP
0,1,A Dijiang,M,24.0,180.0,80.0,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,DNW,China,CHN,4.931370e+11
1,2,A Lamusi,M,23.0,170.0,60.0,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,DNW,China,CHN,8.532185e+12
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,DNW,Denmark,DNK,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,DNK,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,DNW,Netherlands,NLD,2.619105e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,DNW,Poland,POL,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",DNW,Poland,POL,5.390805e+11
271113,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",DNW,Poland,POL,5.390805e+11
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,DNW,Poland,POL,1.746858e+11
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,DNW,Poland,POL,1.990704e+11

## Merging population data

In [23]:

w_pop = pd.read_csv('API_SP.POP.TOTL.csv')

w_pop.drop(['Indicator Name', 'Indicator Code'], axis = 1, inplace = True)

w_pop = pd.melt(w_pop, id_vars = ['Country Name', 'Country Code'], var_name = 'Year', value_name = 'Population')

# Change the Year to integer type
w_pop['Year'] = pd.to_numeric(w_pop['Year'])

w_pop.head()

                  Country Name Country Code  Year   Population
0                        Aruba          ABW  1960      54608.0
1  Africa Eastern and Southern          AFE  1960  130692579.0
2                  Afghanistan          AFG  1960    8622466.0
3   Africa Western and Central          AFW  1960   97256290.0
4                       Angola          AGO  1960    5357195.0

In [24]:
olympics_gdp_pop = olympics_merge_gdp.merge(w_pop,
                                            left_on = ['Country Code', 'Year'],
                                            right_on= ['Country Code', 'Year'],
                                            how = 'left')

olympics_gdp_pop.drop('Country Name', axis = 1, inplace = True)

olympics_gdp_pop

,ID,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,City,Sport,Event,Medal,Team,Country Code,GDP,Population
0,1,A Dijiang,M,24.0,180.0,80.0,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,DNW,China,CHN,4.931370e+11,1.164970e+09
1,2,A Lamusi,M,23.0,170.0,60.0,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,DNW,China,CHN,8.532185e+12,1.354190e+09
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,DNW,Denmark,DNK,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,DNK,NaN,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,DNW,Netherlands,NLD,2.619105e+11,1.476009e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,DNW,Poland,POL,NaN,3.435630e+07
271112,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",DNW,Poland,POL,5.390805e+11,3.801174e+07
271113,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",DNW,Poland,POL,5.390805e+11,3.801174e+07
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,DNW,Poland,POL,1.746858e+11,3.866348e+07
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,DNW,Poland,POL,1.990704e+11,3.823036e+07

In [25]:
rong_codes = ['ROC','EUN','URS','YAR','YMD','UAR','WIF','IRI','BRU','CGO','ISV','IVB','SKN','VIN','BAH','ANT','GAM']
right_codes = ['RUS','RUS','RUS','YEM','YEM','SYR','TTO','IRN','BRN','COG','VIR','VGB','KNA','VCT','BHS','ATG','GMB']

replace_codes(olympics_gdp_pop, wrong_codes, right_codes)

olympics_gdp_pop

Teams with missing Country Codes:  0

,ID,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,City,Sport,Event,Medal,Team,Country Code,GDP,Population
0,1,A Dijiang,M,24.0,180.0,80.0,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,DNW,China,CHN,4.931370e+11,1.164970e+09
1,2,A Lamusi,M,23.0,170.0,60.0,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,DNW,China,CHN,8.532185e+12,1.354190e+09
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,DNW,Denmark,DEN,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,DEN,NaN,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,DNW,Netherlands,NED,2.619105e+11,1.476009e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,DNW,Poland,POL,NaN,3.435630e+07
271112,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",DNW,Poland,POL,5.390805e+11,3.801174e+07
271113,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",DNW,Poland,POL,5.390805e+11,3.801174e+07
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,DNW,Poland,POL,1.746858e+11,3.866348e+07
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,DNW,Poland,POL,1.990704e+11,3.823036e+07

In [26]:
olympics_complete = olympics_gdp_pop
olympics_complete

,ID,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,City,Sport,Event,Medal,Team,Country Code,GDP,Population
0,1,A Dijiang,M,24.0,180.0,80.0,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,DNW,China,CHN,4.931370e+11,1.164970e+09
1,2,A Lamusi,M,23.0,170.0,60.0,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,DNW,China,CHN,8.532185e+12,1.354190e+09
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,DNW,Denmark,DEN,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,DEN,NaN,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,DNW,Netherlands,NED,2.619105e+11,1.476009e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,DNW,Poland,POL,NaN,3.435630e+07
271112,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",DNW,Poland,POL,5.390805e+11,3.801174e+07
271113,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",DNW,Poland,POL,5.390805e+11,3.801174e+07
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,DNW,Poland,POL,1.746858e+11,3.866348e+07
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,DNW,Poland,POL,1.990704e+11,3.823036e+07

## Merge Freedom Index Data

In [27]:
olympics_complete.isnull().sum()

ID                  0
Name                0
Sex                 0
Age              9474
Height          60171
Weight          62875
NOC                 0
Games               0
Year                0
Season              0
City                0
Sport               0
Event               0
Medal               0
Team                0
Country Code        0
GDP             88500
Population      66101
dtype: int64

## SAVE IT INTO CSV FILE

In [28]:

olympics_complete.to_csv('olympics_complete.csv',index=False)